<h4>Logged in as <%=@user.username%></h4>
<h5><a href="/">Home</a> - <a href="/users/<%=@user.username%>">My Items</a> - <a href="/logout">Logout</a></h5>
<h5><a href="/locations">Locations</a></h5>
<h1>Delete User</h1>

<p>ARE YOU SURE YOU WANT TO DELETE YOUR ACCOUNT?</p>
<p>All data associated with your account will be destroyed.</p>
<form action="/users/<%=@user.username%>/delete" method="post">
	<input type="hidden" method="_method" value="delete">
	<p>Type DELETE in the box:<input type="text" name="delete"></p>
	<input type="submit" value="Delete Account">	
</form>
<br>
<p>Or return <a href="/">Home</a></p>