<h2>Log In to ButterOff</h2>

<h4>Choose a User:</h4>
<form action="/login" method="post">
	<%User.all.each do |u|%>
	<input type="radio" name="user[username]" value="<%=u.username%>"><%=u.username%>
	<%end%>
	<p>Password: <input type="password" name="user[password]"></p>
	<input type="submit" value="Log In">
</form>

<h3>Or Make a <a href="/signup">New User</a></h3>