<h4>Logged in as <%=@user.username%></h4>
<h5><a href="/users/<%=@user.username%>">My Items</a> - <a href="/logout">Logout</a></h5>

<h3>Delete <%=@item.name%></h3>

<form action="/items/<%=@item.id%>/delete" method="post">
	<input type="hidden" method="_method" value="delete">
	<input type="submit" value="Delete">
</form>