<h4>Logged in as <%=@user.username%></h4>
<h5><a href="/">Home</a> - <a href="/users/<%=@user.username%>">My Items</a> - <a href="/logout">Logout</a></h5>


<h2>Add Something to Your Box!</h2>
<form action="/items/new" method="post">
	<p>Item: <input type="text" name="item[name]"></p>
	<p>Qty: <input type="number" min="1" name="item[quantity]"></p>
	<input type="submit" value="Add Item">
</form>