<h2>Make New Location</h2>

<h4>All Existing Locations:</h4>
<%Location.all.each do |l|%>
	<ul>
		<li><%=l.name%></li>
	</ul>
<%end%>

<form action="/locations/new" method="post">
	<p>Location Name: <input type="text" name="location[name]"></p>
	<input type="submit" value="Create Location">
</form>